.pair {
  display: flex;
}

.shift-right {
  margin-left: 16px;
}

.well-label {
  font-weight: bold;
  margin-bottom: 0px;
}

.no-margin {
  margin: 0px !important;
}

.modal-dialog {
  width: 800px;
}

.aligned {
  display: inline-flex;
}

.active {
  background-color: red !important;
}

.uppercase {
  text-transform: uppercase;
}

.dropdown-scoring {
  width: 150px;
  padding-right: 5px;
}

.right {
  float: right;
}

.btn-default {
  background-image: none;
}

.header {
  font-size: large;
  font-weight: bold;
}

.hidden {
  display: none;
}

.text-only {
  background: none;
  border: none;
}

#accordion {
  margin: auto;
  width: 75%;
}

table {
  width: 100%;
}

/*input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}*/
