.pair {
  display: flex;
}

.shift-right {
  margin-left: 16px;
}

.well-label {
  font-weight: bold;
  margin-bottom: 0px;
}

.no-margin {
  margin: 0px !important;
}

.modal-dialog {
  width: 800px;
}

#accordion {
  margin: auto;
  width: 75%;
}

table {
  width: 100%;
}
