.pair {
  display: flex;
}

.shift-right {
  margin-left: 16px;
}

.well-label {
  font-weight: bold;
  margin-bottom: 0px;
}

.accordion-scores {
  margin-bottom: 0px !important;
}

#accordion {
  margin: auto;
  width: 75%;
}
