<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The following 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>gems</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> -->

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bridge.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <script src="javascripts/bridge.js"></script>
    <script src="javascripts/mitchell.js"></script>
    <script src="javascripts/howell.js"></script>

  </head>
  <body>

    <div id="cover-page" class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">gems</h1>
            <p class="lead">Bridge scoring and things.</p>
            <p class="lead">
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
                New Game
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog-width modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Event Details</h4>
          </div>
            <form>
          <div class="modal-body">
              <!-- Movement -->
              <div class="form-group row">
                <label for="movement" class="col-sm-3 form-control-label">Movement</label>
                <div class="col-sm-9">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="movement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Movement
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="movement">
                      <li role="presentation"><a id="mitchell-dropdown" role="menuitem" tabindex="-1" href="#">Mitchell</a></li>
                      <li role="presentation"><a id="howell-dropdown" role="menuitem" tabindex="-1" href="#">Howell</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Boards per table -->
              <div class="form-group row">
                <label for="boards-per-table" class="col-sm-3 form-control-label">Boards per Table</label>
                <div class="col-sm-9">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="boards-per-table" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      5
                      <span class="caret"></span>
                    </button>
                    <ul id="boards-per-table-dropdown" class="dropdown-menu" role="menu" aria-labelledby="boards-per-table">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">7</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Mitchell Pairs -->
              <div id="mitchell-pairs" class="hidden">
                <!-- Mitchell North / South Pairs -->
                <h4 class="well-label">North / South Pairs</h4>
                <div class="well">
                  <div class="row">
                    <!-- Pair 1 -->
                    <label id="mitchell-ns-pair1-label" for="mitchell-ns-pair1" class="col-sm-2 form-control-label">Pair 1</label>
                    <div class="col-sm-10 pair mitchell-ns-pair" id="mitchell-ns-pair1-div">
                      <input type="text" class="form-control" id="mitchell-ns-pair1" placeholder="Pair 1" required disabled>
                    </div>
                    <button id="add-mitchell-ns-pair-button" type="button" class="btn btn-primary shift-right">Add Pair</button>
                    <button id="remove-mitchell-ns-pair-button" type="button" class="btn btn-primary shift-right hidden">Remove Pair</button>
                  </div>
                </div>

                <!-- Mitchell East / West Pairs -->
                <h4 class="well-label">East / West Pairs</h4>
                <div class="well">
                  <div class="form-group row">
                    <!-- Pair 1 -->
                    <label id="mitchell-ew-pair1-label" for="mitchell-ew-pair1" class="col-sm-2 form-control-label">Pair 1</label>
                    <div class="col-sm-10 pair mitchell-ew-pair" id="mitchell-ew-pair1-div">
                      <input type="text" class="form-control" id="mitchell-ew-pair1" placeholder="Pair 1" required disabled>
                    </div>
                    <button id="add-mitchell-ew-pair-button" type="button" class="btn btn-primary shift-right">Add Pair</button>
                    <button id="remove-mitchell-ew-pair-button" type="button" class="btn btn-primary shift-right hidden">Remove Pair</button>
                  </div>
                </div>
              </div>

              <!-- Howell Pairs -->
              <div id="howell-pairs" class="hidden">
                <h4 class="well-label">Pairs</h4>
                <div class="well">
                  <div class="form-group row">
                    <!-- Pair 1 -->
                    <label id="howell-pair1-label" for="howell-pair1" class="col-sm-2 form-control-label">Pair 1</label>
                    <div class="col-sm-10 pair howell-pair" id="howell-pair1-div">
                      <input type="text" class="form-control" id="howell-pair1" placeholder="Pair 1" required disabled>
                    </div>
                    <button id="add-howell-pair-button" type="button" class="btn btn-primary shift-right">Add Pair</button>
                    <button id="remove-howell-pair-button" type="button" class="btn btn-primary shift-right hidden">Remove Pair</button>
                  </div>
                </div>
              </div>
          </div>

          <div class="modal-footer">
            <button id="cancel-event-button" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="create-event-button" type="submit" class="btn btn-primary">Create Event</button>
          </div>
</form>
        </div>
      </div>
    </div>

    <!-- Explain Modal -->
    <div id="explainModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="explainModalLabel" aria-hidden="true">
      <div class="modal-dialog-width modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="explainModalLabel">Score Explanation</h4>
          </div>
          <form>

            <div class="modal-body">
              <div class="row">
                <label for="exBoard" class="col col-lg-1 form-control-label">Board</label>
                <label for="exDealer" class="col-lg-1 form-control-label">Dealer</label>
                <label for="exVulnerability" class="col-lg-1 form-control-label">Vuln.</label>
                <label for="exDeclarer" class="col-lg-1 form-control-label">Declarer</label>
                <label for="exMade" class="col-lg-1 form-control-label">Made</label>
                <label for="exContract" class="col-lg-1 form-control-label">Contract</label>
                <label for="exDown" class="col-lg-1 form-control-label">Down</label>
              </div>
              <div class="row">
                <div id="exBoard" class="col col-lg-1">Board</div>
                <div id="exDealer" class="col-lg-1">Dealer</div>
                <div id="exVulnerability" class="col-lg-1">Vuln.</div>
                <div id="exDeclarer" class="col-lg-1">Declarer</div>
                <div id="exContract" class="col-lg-1">Contract</div>
                <div id="exMade" class="col-lg-1">Made</div>
                <div id="exDown" class="col-lg-1">Down</div>
              </div>
              <div class="form-group row"></div>
              <div class="row">
                <label for="exContractPoints" class="col col-lg-3 form-control-label">Contract Points</label>
                <div id="exContractPoints" class="col-lg-3">000</div>
              </div>
              <div class="row">
                <label for="exOvertrickPoints" class="col col-lg-3 form-control-label">Overtrick Points</label>
                <div id="exOvertrickPoints" class="col-lg-3">000</div>
              </div>
              <div class="row">
                <label for="exSlamBonus" class="col col-lg-3 form-control-label">Slam Bonus</label>
                <div id="exSlamBonus" class="col-lg-3">000</div>
              </div>
              <div class="row">
                <label for="exRedoubledBonus" class="col col-lg-3 form-control-label">(Re)Doubled Bonus</label>
                <div id="exRedoubledBonus" class="col-lg-3">000</div>
              </div>
              <div class="row">
                <label for="exGameBonus" class="col col-lg-3 form-control-label">Game Bonus</label>
                <div id="exGameBonus" class="col-lg-3">000</div>
              </div>
              <div class="row">
                <label for="exPenaltyPoints" class="col col-lg-3 form-control-label">Penalty Points</label>
                <div id="exPenaltyPoints" class="col-lg-3">000</div>
              </div>
              <div class="row">
                <label for="exTotalNSScore" class="col col-lg-3 form-control-label">Total N/S Score</label>
                <div id="exTotalNSScore" class="col-lg-3">000</div>
              </div>
              <div class="row">
                <label for="exTotalEWScore" class="col col-lg-3 form-control-label">Total E/W Score</label>
                <div id="exTotalEWScore" class="col-lg-3">000</div>
              </div>
            </div>

            <div class="modal-footer">
              <button id="ok-event-button" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div id="masthead" class="blog-masthead">
      <div class="container">
        <div class="collapse navbar-collapse blog-nav left">
          <ul class="nav navbar-nav">
            <li><a id="title_link" class="masthead-title" href="#">gems</a></li>
          </ul>
        </div>

        <div class="collapse navbar-collapse blog-nav">
          <ul class="nav navbar-nav">
            <li><a href="#" data-toggle="modal" data-target="#myModal">New Game</a></li>
            <!-- <li><a href="#">History</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div id="accordion" class="centered panel-group" role="tablist" aria-multiselectable="true"></div>

    <div id="scores-well" class="well centered hidden">
      <div id="final_score_tables_div" class="score-table centered"></div>
      <!-- $("html, body").animate({scrollTop: $("#final_score_tables").offset().top}, 2000); -->
      <div class="centered">
        <button id="print-scores-button" type="button" class="btn btn-default btn-lg centered-btn">
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>  Print Scores
        </button>
      </div>
    </div>

  </body>
</html>
