.pair {
  display: flex;
}

.shift-right {
  margin-left: 16px;
}

.well-label {
  font-weight: bold;
  margin-bottom: 0px;
}

.clickable {
    cursor: pointer;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px;
}

.modal-dialog {
  width: 800px;
}

.aligned {
  display: inline-flex;
}

.uppercase {
  text-transform: uppercase;
}

.dropdown-scoring {
  width: 150px;
  padding-right: 5px;
}

.right {
  float: right;
}

.btn-default {
  background-image: none;
}

.header {
  padding-top: 10px;
  font-size: large;
  font-weight: bold;
}

.header>div {
  font-size: 22px;
}

.hidden {
  display: none;
}

.text-only {
  background: none;
  border: none;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0px;
  width: 100%;
}

.bottom {
    position: absolute;
    bottom: -5px;
    margin-right: 0;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.colored-row {
  background-color: whitesmoke;
}

.centered {
  margin: auto;
  width: 1250px;
}

.centered-btn {
  margin: 0 auto;
  display: block;
}

.score-table {
  position: relative;
}

.hidden {
  display: none;
}

tr.border-bottom th {
  border-bottom: 2px solid black;
  text-align: center;
}

.black-border-right {
  border-right: 1px solid black;
}

.black-border-sides {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

.small-fixed-col {
  width: 50px;
}

.med-fixed-col {
  width: 70px;
}

.large-fixed-col {
  width: 200px;
}

.bold {
  font-weight: bold;
}

.side-by-side {
  width: 45%;
  display: inline-block;
}

.right {
  float: right;
}

html {
  height: 100%;
  background: url(../images/london.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body, form, fieldset, table, tr, td, img {
    font-size: 17px;
    font-family: arial,helvetica,sans-serif;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/* rest of your styles; like: */
body {
    font-size: 17px;
}

/*input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}*/

#scores-well {
  padding: 10px;
  background: white;
}

#final_score_tables_div {
  width: 100%;
  background: white;
}





/* Custom default button */
/*.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}*/




/*html,
body {
  height: 100%;
  background-color: #333;
}*/

body {
  height: 100%;
  background: none;
}

#cover-page {
  height: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
          box-shadow: inset 0 0 100px rgba(0,0,0,1);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}

#masthead {
  height: 52px;
}

.blog-masthead {
  margin-bottom: 15px;
  background-color: #333;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.masthead-btn {
  width: 130px;
}

.blog-nav {
  display: inline-block;
  float: right;
}

.left {
  float: left;
}

.nav>li>a {
  color: grey;
  font-size: 25px;
}

.nav>li>a:hover {
  color: white;
  background-color: #222;
}

.nav>li>a:focus {
  background-color: transparent;
  outline: none;
}

.masthead-title {
  vertical-align: middle;
  color: white !important;
  font-weight: bold;
  font-size: 45px !important;
  font-style: oblique;
  font-family: sans-serif;
}
